body {
    font-family: Arial, sans-serif;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d446ad61906217.5a7d98bb75817.jpg);
    background-color: orange;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
    width: 1000px;
    text-align: center;
    color: #ccc;
}

h1 {
    font-style: oblique;
    color: antiquewhite;
    margin-top: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input {
    width: 40%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 20%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}